<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Kodinger">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>My Login Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../assets/css/my-login.css">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/App/assets/css/style.css">
</head>

<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light shadow-sm" id="mainNav">
        <div class="container px-5">
            <a class="navbar-brand fw-bold" href="#page-top">YouCode</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="bi-list"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                    <li class="nav-item"><a class="nav-link me-lg-3" href="#features">test</a></li>
                    <li class="nav-item"><a class="nav-link me-lg-3" href="#download">test</a></li>
                </ul>
                <button class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" data-bs-toggle="modal"
                    data-bs-target="#feedbackModal">
                    <span class="d-flex align-items-center">

                        <span class="small">Logout</span>
                    </span>
                </button>
            </div>
        </div>
    </nav>
    <section class="m-5">
        <form action="" class="test2">
            <div class="container-fluid" id="quiz">

                <div class="card border-info mb-4 ">

                    <div class="d-flex justify-content-between align-items-center card-header bg-info text-white"
                        id="h1">
                        <span>I> Serious Game</span>
                        <button type="button" data-toggle="collapse" data-target="#q1" aria-expanded="false"
                            aria-controls="q1" class="btn btn-outline-light"><svg width="1em" height="1em"
                                viewBox="0 0 16 16" class="bi bi-chevron-down" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                            </svg>
                        </button>
                    </div>
                    <div id="q1" class="collapse show" aria-labelledby="h1">
                        <div class="card-body">
                            <h5 class=" body-font">Ecrire un programme en <strong>langage C</strong> qui affiche le
                                quotient
                                et le reste de la division entière de deux nombres entiers entrés au clavier ainsi que
                                le
                                quotient rationnel de ces nombres.
                            </h5>
                            <textarea name="Serious" id="" style="width: 100%;" rows="4"></textarea>
                        </div>

                    </div>
                </div>



                <div class="card border-info mb-4">

                    <div class="d-flex justify-content-between align-items-center card-header bg-info text-white"
                        id="h2">
                        <span>II> Motivation</span>
                        <button type="button" data-toggle="collapse" data-target="#q2" aria-expanded="false"
                            aria-controls="q2" class="btn btn-outline-light"><svg width="1em" height="1em"
                                viewBox="0 0 16 16" class="bi bi-chevron-down" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                            </svg>
                        </button>
                    </div>
                    <div id="q2" class="collapse" aria-labelledby="h2">
                        <div class="card-body">
                            <h3 class=" body-font">1-why do you choose YouCode?</h3>
                            <textarea name="Motivation" id="" style="width: 100%;" rows="10"></textarea>

                        </div>
                    </div>
                </div>

                <div class="card border-info mb-4">

                    <div class="d-flex justify-content-between align-items-center card-header bg-info text-white"
                        id="h3">
                        <span>III> Administration Test</span>
                        <button type="button" data-toggle="collapse" data-target="#q3" aria-expanded="false"
                            aria-controls="q3" class="btn btn-outline-light"><svg width="1em" height="1em"
                                viewBox="0 0 16 16" class="bi bi-chevron-down" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                            </svg>
                        </button>
                    </div>
                    <div id="q3" class="collapse" aria-labelledby="h3">
                        <div class="card-body">
                            <h3 class=" body-font">1- Introduce Yourself</h3>
                            <textarea name="Administration1" id="" style="width: 100%;" rows="4"></textarea>
                            <h3 class=" body-font">2- How do you handle stress ?</h3>
                            <textarea name="Administration2" id="" style="width: 100%;" rows="4"></textarea>
                            <h3 class=" body-font">3- What computer skills do you have ?</h3>
                            <textarea name="Administration3" id="" style="width: 100%;" rows="4"></textarea>

                        </div>
                    </div>
                </div>
                <div class="card border-info mb-4">

                    <div class="d-flex justify-content-between align-items-center card-header bg-info text-white"
                        id="h4">
                        <span>IV> Test Technique</span>
                        <button type="button" data-toggle="collapse" data-target="#q4" aria-expanded="false"
                            aria-controls="q4" class="btn btn-outline-light"><svg width="1em" height="1em"
                                viewBox="0 0 16 16" class="bi bi-chevron-down" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                            </svg>
                        </button>
                    </div>
                    <div id="q4" class="collapse" aria-labelledby="h4">
                        <div class="card-body">
                            <h5 class=" body-font">Ecrire un programme en <strong>langage C</strong> qui affiche le
                                quotient
                                et le reste de la division entière de deux nombres entiers entrés au clavier ainsi que
                                le
                                quotient rationnel de ces nombres.
                            </h5>
                            <textarea name="tech" id="" style="width: 100%;" rows="4"></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group m-0">
                    <button type="submit" class="btn btn-success btn-block">
                        Submit
                    </button>
                </div>
            </div>
        </form>


    </section>
    <!-- Footer-->
    <footer class="bg-black text-center py-5">
        <div class="container px-5">
            <div class="text-white-50 small">
                <div class="mb-2">&copy; YouCode 2021. All Rights Reserved.</div>
                <a href="#!">Privacy</a>
                <span class="mx-1">&middot;</span>
                <a href="#!">Terms</a>
                <span class="mx-1">&middot;</span>
                <a href="#!">FAQ</a>
            </div>
        </div>
    </footer>


    <script src="/node_modules/axios/dist/axios.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script type="module" src="/App/assets/js/script.js"></script>
</body>

</html>