<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>New Age - Start Bootstrap Theme</title>
    <link rel="stylesheet" href="/App/assets/css/style.css">

    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="/node_modules/axios/dist/axios.min.js"></script>
    <script src="../../assets/js/isResponsible.js"></script>
</head>

<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light shadow-sm" id="mainNav">
        <div class="container px-5">
            <a class="navbar-brand fw-bold" href="#page-top">YouCode</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="bi-list"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                    <li class="nav-item"><a class="nav-link me-lg-3" href="#features">Candidate</a></li>
                    <li class="nav-item"><a class="nav-link me-lg-3" href="#download">QCM</a></li>
                </ul>
                <button class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" data-bs-toggle="modal"
                    data-bs-target="#feedbackModal">
                    <span class="d-flex align-items-center">

                        <span class="small">Logout</span>
                    </span>
                </button>
            </div>
        </div>
    </nav>
    <header id="header" class="h-100">
        <div class="container pt-5 ">
            <div class="row ">
                <div class="col-12 mb-5 text-center ">
                    <h1>Candidate List</h1>
                </div>
                <div class="col-12">
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">CIN</th>
                            <th scope="col">Age</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>test@mdo.co</td>
                            <td>YG654</td>
                            <td>23</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>test@mdo.co</td>
                            <td>YG654</td>
                            <td>23</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td >Larry the Bird</td>
                            <td>@twitter</td>
                            <td>test@mdo.co</td>
                            <td>YG654</td>
                            <td>23</td>
                          </tr>

                        </tbody>
                      </table>
                </div>
            </div>
        </div>

    </header>
    <!-- Footer-->
    <footer class="bg-black text-center py-5">
        <div class="container px-5">
            <div class="text-white-50 small">
                <div class="mb-2">&copy; YouCode 2021. All Rights Reserved.</div>
                <a href="#!">Privacy</a>
                <span class="mx-1">&middot;</span>
                <a href="#!">Terms</a>
                <span class="mx-1">&middot;</span>
                <a href="#!">FAQ</a>
            </div>
        </div>
    </footer>
    </div>



    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>