<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>New Age - Start Bootstrap Theme</title>
    <link rel="stylesheet" href="/App/assets/css/style.css">

    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="/node_modules/axios/dist/axios.min.js"></script>
    <script src="../../assets/js/isResponsible.js"></script>
</head>

<body >
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light shadow-sm" id="mainNav">
        <div class="container px-5">
            <a class="navbar-brand fw-bold" href="#page-top">YouCode</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="bi-list"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                    <li class="nav-item"><a class="nav-link me-lg-3" href="#features">Candidate</a></li>
                    <li class="nav-item"><a class="nav-link me-lg-3" href="#download">QCM</a></li>
                </ul>
                <button class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" >
                    <span class="d-flex align-items-center">

                        <span class="small logout">Logout</span>
                    </span>
                </button>
            </div>
        </div>
    </nav>
    <header id="header" class="d-flex align-items-center">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-6 col-12  h-100">
                    <div class="container h-100">
                        <div class="row h-100">
                            <div class="col-12  d-flex flex-column align-items-start justify-content-center">
                                <h1 class="display-1 lh-1 mb-3 fw-normal title"
                                    >
                                    Hello To Your Dashboard
                                </h1>
                                <h5 class="fw-light">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum eum corrupti
                                    excepturi exercitationem ad, architecto eligendi molestias eius deleniti dignissimos
                                    beatae ratione molestiae consectetur omnis eaque dolorem quidem sequi error.
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12 mt-lg-0 mt-3 h-100">
                    <div class="container h-100">
                        <div class="row justify-content-center align-items-center h-100">
                            <div class="col-12 ">
                                <!-- Masthead device mockup feature-->
                                <div class="masthead-device-mockup">
                                    <svg class="circle" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                                        <defs>
                                            <linearGradient id="circleGradient" gradientTransform="rotate(45)">
                                                <stop class="gradient-start-color" offset="0%"></stop>
                                                <stop class="gradient-end-color" offset="100%"></stop>
                                            </linearGradient>
                                        </defs>
                                        <circle cx="50" cy="50" r="50"></circle>
                                    </svg><svg class="shape-1 d-none d-sm-block" viewBox="0 0 240.83 240.83"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <rect x="-32.54" y="78.39" width="305.92" height="84.05" rx="42.03"
                                            transform="translate(120.42 -49.88) rotate(45)"></rect>
                                        <rect x="-32.54" y="78.39" width="305.92" height="84.05" rx="42.03"
                                            transform="translate(-49.88 120.42) rotate(-45)"></rect>
                                    </svg><svg class="shape-2 d-none d-sm-block" viewBox="0 0 100 100"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="50" cy="50" r="50"></circle>
                                    </svg>
                                    <div class="device-wrapper">
                                        <div class="device" data-device="iPhoneX" data-orientation="portrait"
                                            data-color="black">
                                            <div class="screen device-backround">
                                                <div class="container h-100 p-1 ">
                                                    <div class="row h-100 align-items-center ">
                                                        <div class="container ">
                                                            <div class="row ">
                                                                <div class="col-12 d-flex justify-content-center ">
                                                                    <h5 class="title fw-bolder h5">
                                                                        Consulte Condidate
                                                                    </h5>
                                                                </div>
                                                                <div class="col-12 d-flex justify-content-center">
                                                                    <a href="./Candidate.html" class="w-75">

                                                                        <button class="btn btn-outline-primary w-100">click</button>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>
    <!-- Footer-->
    <footer class="bg-black text-center py-5">
        <div class="container px-5">
            <div class="text-white-50 small">
                <div class="mb-2">&copy; YouCode 2021. All Rights Reserved.</div>
                <a href="#!">Privacy</a>
                <span class="mx-1">&middot;</span>
                <a href="#!">Terms</a>
                <span class="mx-1">&middot;</span>
                <a href="#!">FAQ</a>
            </div>
        </div>
    </footer>
    </div>


    <script type="module" src="/App/assets/js/auth.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>